/*/
json-fortran-8.2.5.wrap
xhcff
lammps*
jonquil.wrap

!lwoniom
!gfn0
!toml-f
!gfnff
!tblite
!test-drive
!pvol
!fmlip_relay
!dftd4
!mctc-lib
!mstore
!multicharge
!s-dftd3
!ddx

!packagefiles
!packagefiles/tblite
!packagefiles/tblite/rm_app_test.patch
