/*/
json-fortran-8.2.5.wrap
s-dftd3.wrap
xhcff
lammps*

!lwoniom
!gfn0
!toml-f
!gfnff
!tblite
!test-drive
!pvol
!fmlip_relay
!dftd4
!mctc-lib
!mstore
!multicharge

!packagefiles
!packagefiles/tblite
!packagefiles/tblite/rm_app_test.patch
